{% extends "modelo.html" %}
{% block conteudo %}
    <p class="sobre">
        <li>Luana Campos <br>
        O melhor de mim é invisível aos olhos, somente poucos conseguem enxergar. E são esses que guardo pra sempre no meu coração.
        </li><br>
        <li>Ranyellisson Azevedo <br>
        Eu acredito na simplicidade, na transparência, na pureza, na boa intenção, na comunhão, no amor. Eu acredito!</li><br>
        <li>Reinaldo Lira <br>
        Não nasci para competir com os outros, mas para superar a mim mesmo.</li><br>
        <li>Lucymar Gonçalves <br>
        Quando penso que cheguei ao meu limite, descubro que tenho força para ir além…</li><br>

    </p>
{% endblock %}